@mixin bySide($width, $side: false, $style: solid, $color: #000) {
  @if ($side == 'x') {
    border-width: 0 $width;
    border: $style $color;
  } @else if ($side == 'y') {
    border-width: $width 0;
    border: $style $color;
  } @else if ($side == 't') {
    border-top: $width $style $color;
  } @else if ($side == 'r') {
    border-right: $width $style $color;
  } @else if ($side == 'b') {
    border-bottom: $width $style $color;
  } @else if ($side == 'l') {
    border-left: $width $style $color;
  } @else {
    border: $width $style $color;
  }
}
